.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    .cards {
        display: flex;
        cursor: pointer;
        background-color: white;
        width: 94vh;
        height: 230px;
        margin: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 1rem;
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
        .profile {
            flex: 1;
            background-image: linear-gradient(135deg, #f395ba 0%, #fed182 100%);
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .initilals {
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10rem;
                height: 10rem;
                background-color: gray;
                color: white;
                font-size: 3rem;
                text-transform: uppercase;
            }
        }
        .userDetails {
            flex: 2;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .title {
                font-size: 1.5rem;
                font-weight: 700;
            }
            div {
                padding-bottom: 1rem;
            }

            .website {
                color: #007ae9;
            }
        }
        .userDetailsModif {
            flex: 2;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .title {
                font-size: 1.5rem;
                font-weight: 700;
            }
            div {
                padding-bottom: 1rem;
                display: flex;
                flex-direction: column;
                width: 100%;
                input {
                    height: 1.2rem;
                }
            }

            .website {
                color: #007ae9;
            }
        }
        .btnFooter {
            flex-direction: row !important;
            color: white;
            .accept {
                background-color: black;
                outline: 0;
                border-radius: 1rem;
                border: 0;
                padding: 0.3rem;
                cursor: pointer;
                font-size: 1.2rem;
                color: white;
                margin-left: 1rem;
            }
            .clear {
                background-color: gray;
                cursor: pointer;
                outline: 0;
                border-radius: 1rem;
                padding: 0.3rem;
                border: 0;
                color: white;
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .cards {
        flex-direction: column;
        width: 100%;
        height: 100% !important;
        .profile {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            border-bottom-left-radius: 0rem !important;
        }
        .userDetails {
            display: flex;
            align-items: center !important;
        }
        .initilals {
            width: 6rem !important;
            height: 6rem !important;
        }
    }
}
